[submodule "extern/glottolog"]
	path = extern/glottolog
	url = https://github.com/glottolog/glottolog
	shallow = true
[submodule "extern/asjp"]
	path = extern/asjp
	url = https://github.com/lexibank/asjp
	shallow = true
[submodule "extern/ConLID"]
	path = extern/ConLID
	url = https://github.com/epfl-nlp/ConLID
	shallow = true
